@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 1em;
  height: 100%;
  width:100%;
  overflow: hidden;
}

h1, h2 {
  font-weight: 100;
}


/* APP */

section.app {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 75px;
}

/* HEADER */

header.header {
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
}

header.header > * {
  vertical-align: middle;
  height: 100%;
}

header.header button {
  background: none;
  border: none;
  font-size: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}

header.header .logo {
  max-width: 10em;
  margin-left: 1.5em;
}

header.header h1 {
  position: absolute;
  top: 0.8em;
  right: 1em;
  font-size: 1.6em;
}


/* LEFT MENU */

.menu {
  border: 1px solid #ddd;
  height: 100%;
  flex: initial;
  min-width: 250px;
  transition: margin-left 0.25s ease;
}

.menu.hidden {
  margin-left: -250px;
}

.menu section {
  display: none;
  padding: 20px 1em;
  border-top: 1px solid #ddd;
}

.menu input {
  display: none;
}

.menu label {
  display: inline-block;
  margin: -1px 0 -1px;
  padding: 1em 1em;
  font-weight: 100;
  color: #bbb;
  border: 1px solid transparent;
}

.menu label:hover {
  color: #888;
  cursor: pointer;
}

.menu input:checked + label {
  color: black;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

.menu h3 {
  font-size: 90%;
}

.menu ul {
  padding: 1em;
  list-style: none;
  font-size: 90%;
}

.menu ul li {
  padding-top: 0.3em;
  display: block;
  cursor: pointer;
}

.menu ul li:hover {
  color: blue;
}

/* MAIN */

main {
  height: 100%;
  background-color: #ddd;
  flex: 1;
}


/* INFO */

section.info {
  height: 100%;
  background-color: white;
  flex: initial;
  width: 400px;
  transition: margin-right 0.25s ease;
}

section.info.hidden {
  margin-right: -400px;
}
