@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 1em;
  height: 100%;
  width:100%;
  overflow: hidden;
}
h1, h2 {
  font-weight: 100;
}
button {
  background: none;
  border: none;
  font-size: 1.5em;
  margin-left: 1em;
  cursor: pointer;
}

/* APP */

section.app {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 55px;
}
/* HEADER */
header.header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
  z-index: 999;
}
header.header > * {
  vertical-align: middle;
  height: 100%;
}
header.header button {
  margin-left: 0.5em;
}
header.header .logo {
  max-width: 10em;
  margin-left: 1.5em;
}
header.header h1 {
  position: absolute;
  top: 0.4em;
  right: 1em;
  font-size: 1.6em;
}

/* LEFT MENU */

.menu {
  height: 100%;
  flex: initial;
  min-width: 230px;
  transition: margin-left 0.25s ease;
}
.menu.hidden {
  margin-left: -230px;
}
.menu section {
  display: none;
  padding: 20px 1em;
  height: 100%;
  overflow-y: scroll;
}
.menu input {
  display: none;
}
.menu label {
  display: inline-block;
  margin: -1px 0 -1px;
  padding: 0.5em 0.5em 0.5em 1em;
  font-weight: 100;
  color: #bbb;
}
.menu label:hover {
  color: #888;
  cursor: pointer;
}
.menu input:checked + label {
  color: black;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
.menu h3 {
  font-size: 90%;
}
.menu ul {
  padding: 1em 0;
  list-style: none;
  font-size: 90%;
}
.menu ul li {
  padding-top: 0.3em;
  display: block;
  cursor: pointer;
}
.menu ul li:hover {
  font-weight: 800;
}


/* INFO */

section.info {
  height: 100%;
  background-color: white;
  flex: initial;
  width: 330px;
  transition: margin-right 0.25s ease;
  position: relative;
}
section.info button {
  position: absolute;
  top: -0.3em;
  right: 0.3em;
  font-size: 3em;
  font-weight: 200;
  transform: rotate(45deg);
}
section.info.hidden { margin-right: -330px; }
section.info h3 {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  font-weight: 100;
  font-size: 150%;
  margin-bottom: 0.5em;
  padding-top: 0.15em;
}
section.info .detail {
  padding: 1em;
  font-size: 90%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom:6em;
}
section.info ul {
  margin-top: 2em;
  list-style: none;
}
section.info ul li {
  padding: 0.2em;
  cursor: default;
  margin-bottom: 0.5em;
  background-color: white;
}
section.info ul li.title {font-weight: 800; margin-bottom: 1em;}
section.info ul li.draggable {
  cursor:move;
  cursor:grab;
  cursor:-webkit-grab;
}
section.info ul li.draggable:hover  {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
}

section.info ul li.locked {
  color:#999;
  font-weight: 100;
}
section.info ul li.locked::before { content : "⊝"; margin-right: 0.5em; }
section.info ul li.locked, section.info ul li.auto {
  color:#999;
  font-weight: 100;
}
section.info ul li.auto::before { content : "↺"; margin-right: 0.5em; }

section.info span:not(.label){ float: right; width: 5em; text-align:right; }
/*section.info li.dynamic { font-weight: 200;}*/
section.info ul li.total {
  font-weight: 800;
  margin-top: 1em;
  border-top:1px solid #ddd;
  padding-top:1em;
}

.drag {
  position:absolute;
  z-index: 999;
  background : white;
  padding: 0.25em 0.5em;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
}


/* MAIN */

main {
  height: 100%;
  flex: 1;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  overflow-y: auto;
}

main table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  min-width: 480px;
}

main table th {
  font-weight: 400;
}

main table th.days {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

main table tr:hover th {
  font-weight: 800;
}

main table tr.am-pm th:not(:first-child) {
  font-size: 0.5em;
  border-bottom: 1px solid #ddd;
}

main table td {
  border: 1px solid #ddd;
  font-size: 0.2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 0.5em;
}

main table td.am, main table td.pm {
  text-align: left;
}

main table td.am {
  border-left: 2px solid black;
}

main table td.none    { background-color: #ccc;  border-bottom: none; border-top: none;}
main table td.weekend { background-color: #ddd; border: 1px solid #ccc;}
main table td.holiday { background-color: #ddd;  border: none; border-right: 1px solid #ccc; white-space: normal;}
main table td.nocourse { background-color: #eee; border: none;}
main table td.nocourse.pm { border-right: 1px solid #ddd;}

main table td.evals { background-color: white; border:none; }
main table td.evals.pm { border-right: 1px solid #ddd;}

main table td.workshop { background-color: white; border: none;}
main table td.workshop.pm { border-right: 1px solid #ddd;}

main table td.workshop.am {
  border-left: 2px solid #fd0;
}
main table td.evals.am {
  border-left: 2px solid magenta;
}
/*main table td.nocourse.am { border-left: 4px solid black; white-space: nowrap; }
main table td.evals.am { border-left:4px solid magenta; white-space: nowrap; }
main table td.workshop.am { border-left:4px solid yellow;  }*/

.drag main table td.am:hover, .drag main table td.pm:hover, td.hover {
  background-color: black !important;
  cursor: pointer;
}

table td span {
  background-color: black;
  padding: 0.3em 0.3em;
  color: white;
  width: 6px;
  font-size: 8px;
  border-radius: 2px;
  cursor: default;
  margin-right: 2px;
}

span.color-1cv { background-color: #f00; }
span.color-2cv { background-color: #0d0; }
span.color-3cv { background-color: #00f; }
span.color-ass { background-color: cyan; }
span.color-eva { background-color: magenta; }
