<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>écal m&amp;id synoptique</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/res/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/res/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/res/icons/favicon-16x16.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
  <section id="app" class="app">
    <nav id="menu" class="menu {% if detail is defined %}hidden{% endif %}">
        {% block menu %}
        {% endblock %}
    </nav>
    <header class="header">
        {% block header %}
        <button id="toggle-menu">☰</button>
        <img class="logo" src="{{ url_for('static', filename='res/logo.svg') }}">
        <h1>{{ planning.name }}</h1>
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <section id="info" class="info {% if detail is not defined %}hidden{% endif %}">
        {% block info %}
        {% endblock %}
    </section>
  </section>
  {% block scripts %}
  {% endblock %}
</body>

</html>
