<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>écal m&amp;id synoptique</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/res/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/res/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/res/icons/favicon-16x16.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,700"
      rel="stylesheet">
</head>

<body>
  <section id="app" class="app">
    <nav id="menu" class="menu {% if not admin %}folded{% endif %}">
        {% block menu %}
        {% endblock %}
    </nav>
    <header class="header">
        {% block header %}
        <button id="toggle-menu">☰</button>
        <img class="logo" src="{{ url_for('static', filename='res/logo.svg') }}">
        <h1>{{ planning.name }}</h1>
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <section id="info" class="info {% if detail is not defined %}folded{% endif %}">
        {% block info %}
        {% endblock %}
    </section>
  </section>
  {% block scripts %}
  {% endblock %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80810927-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
