{% extends "base.html" %}

{% block menu %}

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Staff</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Courses</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Events</label>

<section id="content1">
  <h3>Professors</h3>
  <ul class="staff">
  {% for staff in planning.staffs %}
    {% if staff.role == "Professor" %}
      {% if admin or (detail and detail.name == staff.name) %}
      <li class="detail" ><i class="vis-icon md-icon on">
      {% elif detail is not defined %}
      <li><i class="vis-icon md-icon on">
      {% else %}
      <li><i class="vis-icon md-icon">
      {% endif %}
      visibility</i><span class="name">{{staff.name}}</li>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>Assistants</h3>
  <ul class="staff">
  {% for staff in planning.staffs %}
    {% if staff.role == "Assistant" %}
      {% if admin or (detail and detail.name == staff.name) %}
      <li  class="detail" ><i class="vis-icon md-icon on">
      {% elif detail is not defined %}
      <li><i class="vis-icon md-icon on">
      {% else %}
      <li><i class="vis-icon md-icon">
      {% endif %}
      visibility</i><span class="name">{{staff.name}}</span></li>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>Lecturers</h3>
  <ul class="staff">
  {% for staff in planning.staffs %}
    {% if staff.role == "Lecturer" %}
      {% if admin or (detail and detail.name == staff.name) %}
      <li  class="detail" ><i class="vis-icon md-icon on">
      {% elif detail is not defined %}
      <li><i class="vis-icon md-icon on">
      {% else %}
      <li><i class="vis-icon md-icon">
      {% endif %}
      visibility</i><span class="name">{{staff.name}}</span></li>
    {% endif %}
  {% endfor %}
  </ul>
</section>

<section id="content2">
{% for section in planning.sections %}
  <h3 class="color-{{section.name[0:3]}}">{{section.name}}</h3>
  <!-- <div class="sections"> -->
    <!-- <span class="color-{{section.name[0:3]}}">{{section.name}}</span> -->
    <ul class="courses">
    {% for course in planning.courses %}
      {% if course.name[0] == section.name[0] %}
        <li class="{{ ('bw' if course.is_blockweek else '') }}">
          <span class="course">
            {{course.name[0] + '.' + course.name[6:]}}
          </span>
          {{course.desc}}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  <!-- </div> -->
{% endfor %}
</section>

<section id="content3">
</section>

{% endblock %}

{% block main %}
<table cellspacing="0" cellpadding="0">
  <tr>
    <th></th>
    {% for month in planning.calendar.months %}
    <th colspan="2">{{ month.label[:3] }}</th>
    {% endfor %}
  </tr>
  <tr class="am-pm">
    <th></th>
    {% for month in planning.calendar.months %}
    <th>AM</th>
    <th>PM</th>
    {% endfor %}
  </tr>
{% for d in range(1, 32) %}
  <tr>
    <th class="days"> {{ d }}</th>
  {% for month in planning.calendar.months %}
    {% if d > month['num_days'] %}
      <td class="none" colspan="2"></td>
    {% else %}
      {% set day = month['days'][d-1] %}
      {% if day['is_weekend'] %}
        <td class="weekend" colspan="2"></td>
      {% elif day['holiday'] %}
        <td class="holiday" colspan="2"><span class="day-label">{{ day['holiday'] }}</span></td>
      {% elif day['workshop'] %}
        <td class="workshop am" data-date="{{day['date']}}"><span class="day-label">{{ day['workshop'] }}</span></td>
        <td class="workshop pm" data-date="{{day['date']}}"></td>
      {% elif day['evals'] %}
        <td class="evals am" data-date="{{day['date']}}"><span class="day-label">{{ day['evals'] }}</span></td>
        <td class="evals pm" data-date="{{day['date']}}"></td>
      {% elif day['nocourse'] %}
        <td class="nocourse am" data-date="{{day['date']}}"><span class="day-label">{{ day['nocourse'] }}</span></td>
        <td class="nocourse pm" data-date="{{day['date']}}"></td>
      {% else %}
        <td class="am" data-date="{{day['date']}}"></td>
        <td class="pm" data-date="{{day['date']}}"></td>
      {% endif %}
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super () }}
<script type="text/template" id="staff-template">
  <h3><%= name %></h3>
  <button id="close-infos">+</button>
  <section class="detail">
  <% if (role == 'Lecturer') { %>
    <p><%= role %> <span><%= hours %>h</span></p>
    <ul>
      <li class="title">Task <span>Hours</span></li>
      <% for(var task of tasks) { %>
      <li class="{%if admin%}draggable{%endif%}">
        <span class="label color-<%= (task.course || task.kind).substr(0,3) %>" {% if admin %} draggable="true" {% endif %}><%= task.course || task.kind %></span>
        <span><%= task.hours.toFixed(2) %></span>
      </li>
      <% } %>
      <li class="total">
        Current Total
        <span><%= current_hours.toFixed(2) %>h</span>
      </li>
    </ul>
  <% } else { %>
    <p><%= role %> <span><%= percent %>%</span></p>
    <ul>
      <li class="title">Task <span>%</span><span>Hours</span></li>
      <% for(var task of tasks) { %>
      <li class="<% if (task.locked) { %>locked<% } else if (task.auto) { %>auto<% } else { %>{%if admin%}draggable{%endif%}<% }%>">
        <% if (task.locked) { %> <i class="md-icon">lock_outline</i> <% } %>
        <% if (task.auto) { %> <i class="md-icon">autorenew</i> <% } %>
        <span class="label color-<%= (task.course || task.kind).substr(0,3) %>" {% if admin %} draggable="true" {% endif %}><%= task.course || task.kind %></span>
        <span><%= task.percent.toFixed(2) %></span>
        <span><%= task.hours.toFixed(2) %></span>
      </li>
      <% } %>
      <li class="total">
        Current Total
        <span><%= current_percent.toFixed(2) %>%</span>
        <span><%= current_hours.toFixed(2) %>h</span>
      </li>
    </ul>
  <% } %>
  </section>
</script>
<script src="{{ url_for('static', filename='libs/ejs.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/qwest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/activity.js') }}"></script>
{% if admin %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% if detail %}
<script>
  var detail = "{{ detail_json }}";
  detail = detail.replace(/&#39;/g, '"');
  detail = detail.replace(/None/g, 'null');
  detail = detail.replace(/True/g, 'true');
  detail = detail.replace(/False/g, 'false');
  detail = detail.replace(/&amp;/g, '&');
  detail = JSON.parse(detail);
  updateStaffPanel(detail);
</script>
{% endif %}

{% endblock %}
