{% extends "base.html" %}

{% block menu %}

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Staff</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Courses</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Events</label>

<section id="content1">
  <h3>Professors</h3>
  <ul>
  {% for staff in planning.staffs %}
    {% if staff.role == "Professor" %}
    <li>{{staff.name}}</li>
    {% endif %}
  {% endfor %}
  </ul>

  <h3>Assistants</h3>
  <ul>
  {% for staff in planning.staffs %}
    {% if staff.role == "Assistant" %}
    <li>{{staff.name}}</li>
    {% endif %}
  {% endfor %}
  </ul>
</section>

<section id="content2">
  <h3>Sections</h3>
  <ul>
  {% for section in planning.sections %}
    <li>{{section.name}}</li>
  {% endfor %}
  </ul>

  <h3>Courses</h3>
  <ul>
  {% for course in planning.courses %}
    <li>{{course.desc}}</li>
  {% endfor %}
  </ul>
</section>

<section id="content3">
</section>

{% endblock %}

{% block main %}
<table cellspacing="0" cellpadding="0">
  <tr>
    <th></th>
    {% for month in planning.calendar.months %}
    <th colspan="2">{{ month.label[:3] }}</th>
    {% endfor %}
  </tr>
  <tr class="am-pm">
    <th></th>
    {% for month in planning.calendar.months %}
    <th>AM</th>
    <th>PM</th>
    {% endfor %}
  </tr>
{% for day in range(1, 32) %}
  <tr>
    <th class="days"> {{ day }}</th>
  {% for month in planning.calendar.months %}
    {% if day > month['num_days'] %}
      <td class="none" colspan="2"></td>
    {% elif month['days'][day-1]['is_weekend'] %}
      <td class="weekend" colspan="2"></td>
    {% elif month['days'][day-1]['holiday'] %}
      <td class="holiday" colspan="2">{{ month['days'][day-1]['holiday'] }}</td>
    {% elif month['days'][day-1]['workshop'] %}
      <td class="workshop am" data-date="{{month['days'][day-1]['date']}}">{{ month['days'][day-1]['workshop'] }}</td>
      <td class="workshop pm" data-date="{{month['days'][day-1]['date']}}"></td>
    {% elif month['days'][day-1]['evals'] %}
      <td class="evals am" data-date="{{month['days'][day-1]['date']}}">{{ month['days'][day-1]['evals'] }}</td>
      <td class="evals pm" data-date="{{month['days'][day-1]['date']}}"></td>
    {% elif month['days'][day-1]['nocourse'] %}
      <td class="nocourse am" data-date="{{month['days'][day-1]['date']}}">{{ month['days'][day-1]['nocourse'] }}</td>
      <td class="nocourse pm" data-date="{{month['days'][day-1]['date']}}"></td>
    {% else %}
      <td class="am" data-date="{{month['days'][day-1]['date']}}"></td>
      <td class="pm" data-date="{{month['days'][day-1]['date']}}"></td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super () }}
<script type="text/template" id="staff-template">
    <h3><%= name %></h3>
    <button id="close-infos">+</button>
    <section class="detail">
    <p><%= role %> <span><%= percent %>%</span></p>
    <ul>
      <li class="title">Task <span>%</span><span>Hours</span></li>
      <% for(var task of tasks) { %>
      <li class="<% if (task.locked) { %>locked<% } else if (task.auto) { %>auto<% } %>"><span class="label" draggable="true"><%= task.course || task.kind %></span> <span><%= task.percent.toFixed(2) %></span><span><%= task.hours.toFixed(2) %></span></li>
      <% } %>
      <li class="total">Current Total <span><%= current_percent.toFixed(2) %>%</span><span><%= current_hours.toFixed(2) %>h</span></li>
    </ul>
  </section>
</script>
<script type="text/template" id="add-activity-template">
    <h3>Add an activity</h3>
    <button id="close">+</button>
    <section class="detail">
    <form>
      <input type="select">
        <option>test 1</option>
        <option>test 2</option>
        <option>test 3</option>
      </input>
      <input type="module">
        <option>test 1</option>
        <option>test 2</option>
        <option>test 3</option>
      </input>
      <input type="submit">Add</input>
    </form>
  </section>
</script>
<script src="{{ url_for('static', filename='libs/ejs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
