body {
  margin: 0;
}

.waffle {
  table-layout: fixed;
  width: 0;
}

.waffle td {
  overflow: hidden;
  border: 1px #e5e5e5 solid;
  border-color: rgba(0,0,0,0.15);
  border-width: 0 1px 1px 0;
}

.row-header-wrapper {
  display: none;
}

td.s8, td.s10, td.s12, td.s13, td.s18, td.s23 {
  cursor:pointer;
}

td.s8:hover, td.s10:hover, td.s12:hover,
td.s13:hover, td.s18:hover, td.s23:hover {
  background-color: black !important;
  content: "+";
}
